* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}


.nav-fix {
    position: fixed;
    width: 100%;
    height: 70px;
    line-height: 70px;
    top: 15px;
    right: 15px;
    z-index: 1001;
    
}

/*VERTICAL ALIGN SUPER - OK? */

.nav-button a {
    color: rgb(46, 20, 20);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    line-height: 24px;
    padding: 20px;
    vertical-align: super;
    
}

.button {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border-radius: 50%;
    border-color: #ccc;
    background-color: #ccc;
    display:inline-block;

}

.nav-button {
    position:absolute;
    top: 0px;
    right: 0px;
    
    

}


.container-red{
    height: 100vh;
    background-color: red;
    position: relative;
}

.container-green{
    height: 100vh;
    background-color: green;
    position: relative;
}

.container-yellow{
    height: 100vh;
    background-color: yellow;
    position: relative;
}


/*STESSA LARGHEZZA DELLA FOTO */
.centered-container {
    width: 800px;
    text-align: center;
    /* TOLTA ALTEZZA height: 500px; */
    /* border: 1px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shoe-text {
    text-align: center;
    font-size: 48px;
    color: white;

}

























/* ESERCIZIO SNACK CON 
line-eight per centrare verticale NO!!! 
.container-1 {
    background-color: red;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
}

.container-2 {
    background-color:blue;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
}

.container-3 {
    background-color: green;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
}

*/